%form.form
  .form-row
    .form-group.col-md-2
      = select_tag 'q[player_name_eq]', options_for_select(players_list, params.dig(:q, :player_name_eq)), include_blank: true, class: 'form-control'
    .col-auto
      %button.btn.btn-primary Search
      %a.btn.btn-secondary{href: request.path} Reset

.col-sm-12
  = haml :'/reports/_daily_profit'

- if @player_report
  .col-sm-12
    %table.table.table-hover.table-striped.table-bordered.table-sm
      %thead
        %tr
          %th.text-center
          %th.text-center Buy
          %th.text-center Sell
          %th.text-center Profit
          %th.text-center Duration
      %tbody
        %tr
          %td Average
          %td#avg_buy_price.text-right=money @player_report.avg_buy_price
          %td#avg_sell_price.text-right=money @player_report.avg_sell_price
          %td#avg_profit.text-right=money @player_report.avg_profit
          %td#avg_duration.text-right=time @player_report.avg_duration
        %tr
          - last_trade = @player_report.last_trade
          %td Last
          %td#last_buy_price.text-right=money last_trade.buy_trade.sold_for
          %td#last_sell_price.text-right=money last_trade.sell_trade.sold_for
          %td#last_profit.text-right=money last_trade.profit
          %td#last_duration.text-right=time last_trade.duration
        %tr
          %td Total
          %td#total.text-center=@player_report.total
          %td#stock.text-center=@player_report.stock
          %td#total_profit.text-right=money @player_report.profit
          %td
