%form.form
  .form-row
    .form-group.col-md-2
      = select_tag 'q[player_name_eq]', options_for_select(players_list, params.dig(:q, :player_name_eq)), include_blank: true, class: 'form-control'
    .col-auto
      %button.btn.btn-primary Search
      %a.btn.btn-secondary{href: request.path} Reset

.col-sm-12
  = haml :'/reports/_daily_profit'

.col-sm-12
  = haml :'/reports/_player_report'
