%table.table.table-hover.table-striped.table-bordered.table-sm
  %thead
    %tr.d-flex
      %th.col-sm-4.text-center Name
      %th.col-sm-2.text-center Quality
      %th.col-sm-2.text-center Rarity
      %th.col-sm-2.text-center Max BIN
      %th.col-sm-1.text-center Bought?
      %th.col-sm-1.text-center
  %tbody
    - @players.each do |player|
      %tr.d-flex
        %td.col-sm-4{'data-toggle': 'tooltip', title: "#{player.fullname}"}=player.name
        %td.col-sm-2.text-center=player.quality
        %td.col-sm-2.text-center=player.rarity
        %td.col-sm-2.text-right=money player.max_bid
        %td.col-sm-1.text-center
          - if player.bought == 1
            %i.bi.bi-check-circle-fill
          - else
            %i.bi.bi-dash-circle
        %td.col-sm-1.text-center
          %a.btn.btn-outline-secondary.btn-sm{href: "/player_trades?id=#{player.id}"}
            %i.bi.bi-pencil-square

= haml :'player_snipes/_form'
