%table.table.table-hover.table-striped.table-bordered.table-sm
  %thead
    %tr.d-flex
      %th.col-sm-3.text-center Name
      %th.col-md-2.d-none.d-md-block.text-center Quality
      %th.col-md-2.d-none.d-md-block.text-center Rarity
      %th.col-md-1.d-none.d-md-block.text-center Rating
      %th.col-sm-2.text-center Max BIN
      %th.col-sm-1.text-center Bought?
      %th.col-sm-1.text-center
  %tbody
    - @players.each do |player|
      %tr.d-flex
        %td.col-sm-3{'data-toggle': 'tooltip', title: "#{player.fullname}"}=player.name
        %td.col-md-2.d-none.d-md-block.text-center=player.quality
        %td.col-md-2.d-none.d-md-block.text-center=player.rarity
        %td.col-md-1.d-none.d-md-block.text-center=player.rating
        %td.col-sm-2.text-right=money player.max_bid
        %td.col-sm-1.text-center
          - if player.bought == 1
            %i.bi.bi-check-circle-fill
          - else
            %i.bi.bi-dash-circle
        %td.col-sm-1.text-center#actions
          %a.btn.btn-outline-secondary.btn-xs{data: {id: "#{player.id}", action: :edit}}
            %i.bi.bi-pencil-square
          %a.btn.btn-outline-secondary.btn-xs{data: {id: "#{player.id}", action: :delete}}
            %i.bi.bi-x-circle-fill

= haml :'player_snipes/_form'

:javascript
    $(document).ready(function() {
      $("#actions a[data-action='edit']").bind('click', function() {
        window.location.search = "?id="+$(this).data('id');
      });

      $("#actions a[data-action='delete']").bind('click', function() {
        if (window.confirm("Delete?")) {
          $.ajax({
            url: "/player_snipes?id="+$(this).data('id'),
            type: 'delete',
            success: function() { window.location.reload() }
          });
        }
      });
    });
