- if @player.errors.any?
  = @player.errors.messages

%form.form{method: :post}
  %input{type: :hidden, name: 'player[id]', value: @player.id}
  %input{type: :hidden, name: 'player[status]', value: @player.status}
  .form-row
    .form-group.col-md-3
      %label Name
      %input#name.form-control{name: 'player[name]', type: :text, value: @player.name}
    .form-group.col-md-3
      %label Fullname
      %input#fullname.form-control{name: 'player[fullname]', type: :text, value: @player.fullname}
    .form-group.col-md-1
      %label Futbin Id
      %input#fullname.form-control{name: 'player[futbin_id]', type: :text, value: @player.futbin_id}
    .form-group.col-md-1
      %label Resource Id
      %input#fullname.form-control{name: 'player[resource_id]', type: :text, value: @player.resource_id}
    .form-group.col-md-2
      %label Max Bid
      %input#max_bid.form-control{name: 'player[max_bid]', type: :number, value: @player.max_bid, step: 50}
    .form-group.col-md-2
      %label Sell Value
      %input#sell_value.form-control{name: 'player[sell_value]', type: :number, value: @player.sell_value, step: 50}
  %button.btn.btn-primary.mb-2{type: :submit} Save

:javascript
  $("input[type='number']").inputSpinner()
