.row
  .col-md-12
    .btn-group
      - Command::LIST.each do |command|
        %button.btn.command.btn-primary{data: { command: command, queued: "#{Command.queued?(command)}"} } #{command.capitalize}

:javascript
  $(document).ready(function() {
    $('.command').each(function() {
      if ($(this).data('queued')) {
        $(this).attr('disabled', true);
        $(this).removeClass('btn-primary');
        $(this).addClass('btn-secondary');
      }
    });

    $('.command').bind('click', function() {
      if (window.confirm("Confirm command: " + $(this).data('command'))) {
        $.post('/dashboard/command', { 'command': $(this).data('command') },
          function(data) { location.reload(); });
      }
    });
  });
