= haml :'dashboard/_commands'
.row
  .col-md-12
    .p-2.mb-2.bg-light.col
      %pre#log.pre-scrollable
.row
  #trades.col-md-6
  #stock.col-md-6
.row
  #last_error.col-md-6

#cache
:javascript

  function update_partial(url, target, interval) {
    $.ajax({
      url: url,
      success: function(data) { $(target).html(data); },
      complete: function() {
        setTimeout(function() { update_partial(url, target, interval) }, interval);
      }
    });
  }

  $(document).ready(function() {
    update_partial('/player_trades/refresh_cache', '#cache', 10000);
    update_partial('/dashboard/log', '#log', 5000);
    update_partial('/dashboard/stock', '#stock', 30000);
    update_partial('/dashboard/trades', '#trades', 30000);
    update_partial('/dashboard/last_error', '#last_error', 15000);
  });
