.form
  %input#endpoint{name: 'endpoint', type: 'hidden', readonly: true}
  %input#auth{name: 'auth', type: 'hidden', readonly: true}
  %input#p256dh{name: 'p256dh', type: 'hidden', readonly: true}

  .form-row
    .form-group.col-md-2
      %label Title
      %input#title.form-control{type: 'text'}
    .form-group.col-md-2
      %label Description
      %input#description.form-control{type: 'text'}
  %button.btn.btn-info#btn-register{"data-public-key" => "#{@vapid[:public_key]}"} Register
  %button.btn.btn-secondary#unsubscribe Unsubscribe
  %button#submit.btn.btn-primary{type: "submit", value: 'push'} Submit
%script{src: '/serviceworker.js'}
:javascript
  $(document).ready(function() {
    $("#unsubscribe").click(function() { removeWorkers(); unsubscribe(); } );
    $("#submit").on("click", function() {
      $.post("/webpush", {
        endpoint: $("#endpoint").text(),
        auth: $("#auth").text(),
        p256dh: $("#p256dh").text(),
        message_json: JSON.stringify({ title: $("#title").val(), description: $("#description").val() })
      }, function(data) {
        console.log(data);
      })
      return false;
    });
  });
