%form
  %input#id{type: :hidden}
  - player = @players[2]
  .row
    .col.col-md-3
      %label Name
      %input#name.form-control{type: :text, value: player.name}
    .col.col-md-4
      %label Fullname
      %input#fullname.form-control{type: :text, value: player.fullname}
    .col.col-md-2
      %label Max Bid
      %input#max_bid.form-control{type: :text, value: player.max_bid}
    .col.col-md-2
      %label Sell Value
      %input#sell_value.form-control{type: :text, value: player.sell_value}
    .col.col-md-1

