%table.table.table-hover.table-striped.table-bordered.table-sm
  %thead
    %th.col Name
    %th.col Fullname
    %th.col Max Bid
    %th.col Sell Value
    %th.col Status
  %tbody
    - @players.each do |player|
      %tr
        %td.col-md-3=player.name
        %td.col-md-3=player.fullname
        %td.col-md-2.text-right=money player.max_bid
        %td.col-md-2.text-right=money player.sell_value
        %td.col-md-1.text-center=player.status
