%table.table.table-hover.table-striped.table-bordered.table-sm
  %tbody
    - @trades.each do |trade|
      %tr.d-flex
        %td.col-md-2.text-center
          - if trade.kind == 'S'
            %i.text-success.bi.bi-cash
          - else
            %i.text-info.bi.bi-person-plus-fill
        %td.col-md-3.text-center=trade.timestamp.strftime('%H:%M:%S')
        %td.col-md-4=trade.player_name
        %td.col-md-3.text-right
          - if trade.kind == 'S'
            %span.text-success=money trade.sold_for
          - else
            %span.text-danger=money trade.sold_for
