%meta(http-equiv='refresh' content='30')
.row
  = haml :_log
.row
  %h4 Player report
  = haml :_report
.row
  .col-md-6
    %h4 Last trades
    = haml :_trades
  .col-md-6
    .card
      .card-body
        %h5.card-title="Last error: #{@last_error.timestamp}"
        %p.card-text=@last_error.error_msg
      %img.card-img-bottom{src: @last_error.img_path, width: '100%'}
