%a{href: '/players'}
  %h2 Stock
%table.table.table-hover.table-striped.table-bordered.table-sm
  %thead
    %th.col Player Name
    %th.col Profit
    %th.col Stock
    %th.col Avg. Buy
    %th.col Avg. Sell
    %th.col Avg. Profit
  %tbody
    - @reports.values.each do |line|
      %tr
        %td
          %a{target: '_blank', href:"https://www.futbin.com/21/sales/#{line.player.id}"}=line.player.name
        %td=number_to_currency line.profit
        %td=line.stock
        %td.text-right=number_to_currency line.avg_buy_price
        %td.text-right=number_to_currency line.avg_sell_price
        %td.text-right=number_to_currency line.avg_profit
  %tfoot
    %tr
      %th TOTAL
      %th=number_to_currency @total[:profit]
      %th=@total[:stock]
      %th
      %th
      %th
.col-12
  %a{href: '/trades'}
    %h2 Trades
  = haml :_trades

.col-12
  %h3="Last error: #{@last_error.timestamp}"
  %img{src: @last_error.img_path}
