!!!
%html
  %head
    %title FIFA autotrader
    %link(rel='shortcut icon' href='/images/FA_logo.png')
    %link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet')
    %link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css' rel='stylesheet')
    %link(href='https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css' rel='stylesheet')
    %meta(name='viewport' content='width=device-width, initial-scale=1')

    %script{type: 'text/javascript', src: 'https://code.jquery.com/jquery-3.5.1.min.js'}
    %script{type: 'text/javascript',  src: 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js'}

    %script{type: 'text/javascript', src: 'https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js'}
    %script{type: 'text/javascript', src: 'https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js'}
    %script{type: 'text/javascript', src: 'https://code.highcharts.com/stock/highstock.js'}
    %script{type: 'text/javascript', src: '/js/bootstrap-input-spinner.js'}
    :css
      .text-right { text-align: right; }
      .table-bordered thead th { border: 1px solid #dee2e6; }
      .btn-xs {
        padding: 1px 5px 2px 5px !important;
        font-size: 12px !important;
        line-height: 1.5 !important;
        border-radius: 3px !important;
        margin: 4px !important;
      }
  %body
    .container-fluid
      .row.wrapper.min-vh-100.flex-column.flex-sm-row
        = haml :navbar
        %main.col-sm-8.col-md-9.col-lg-9.bg-faded.py-3.flex-column
          = yield
