:css
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .sidebar .nav-link { font-weight: 500; color: #333; }

.sidebar-sticky
  %ul.nav.flex-column
    %li.nav-item.text-center
      %a.nav-link{href: '/'}
        %i.bi.bi-house
        %span Dashboard
    %li.nav-item.text-center
      %a.nav-link{href: '/players'}
        %i.bi.bi-people
        %br
        %span Players
    %li.nav-item.text-center
      %a.nav-link{href: '/trades'}
        %i.bi.bi-book
        %br
        %span Trades
