%form.form
  .form-row
    .form-group.col-md-2
      = select_tag 'q[player_name_eq]', options_for_select(players_list, params.dig(:q, :player_name_eq)), include_blank: true, class: 'form-control'
    .form-group.col-md-1
      = select_tag 'q[kind_eq]', options_for_select(kinds_list, params.dig(:q, :kind_eq)), include_blank: true, class: 'form-control'
    .col-auto
      %button.btn.btn-primary Search
      %a.btn.btn-secondary{href: request.path_info} Reset

%table.table.table-hover.table-striped.table-bordered.table-sm
  %thead
    %tr.d-flex
      %th.col-md-2.text-center Datetime
      %th.col-md-1.text-center Kind
      %th.col-md-3.text-center Player
      %th.col-md-2.d-none.d-md-block.text-center Start
      %th.col-md-2.text-center Final
      %th.col-md-2.d-none.d-md-block.text-center BIN
  %tbody
    - @trades.each do |trade|
      %tr.d-flex
        %td.col-md-2.text-center.small=datetime trade.timestamp
        %td.col-md-1.text-center=trade.kind
        %td.col-md-3=trade.player_name
        %td.col-md-2.text-right.d-none.d-md-block=money trade.start_price
        %td.col-md-2.text-right=money trade.sold_for
        %td.col-md-2.text-right.d-none.d-md-block=money trade.buy_now
= will_paginate @trades
