.col-md-6
  %table.table.table-hover.table-striped.table-bordered.table-sm
    %thead
      %tr.d-flex
        %th.col.col-md-3 Name
        %th.col.col-md-3 Fullname
        %th.col.col-md-2 Max Bid
        %th.col.col-md-2 Sell Value
        %th.col.col-md-1 Status
        %th.col.col-md-1
    %tbody
      - @players.each do |player|
        %tr.d-flex
          %td.col.col-md-3=player.name
          %td.col.col-md-3=player.fullname
          %td.col.col-md-2.text-right=money player.max_bid
          %td.col.col-md-2.text-right=money player.sell_value
          %td.col.col-md-1.text-center
            - if player.status == '1'
              %a.btn.btn-outline-secondary.btn-sm{href: "/players/status?name=#{player.name}&status=0"}
                %i.bi.bi-check-circle-fill
            - else
              %a.btn.btn-outline-secondary.btn-sm{href: "/players/status?name=#{player.name}&status=1"}
                %i.bi.bi-dash-circle
          %td.col.col-md-1.text-center
            %a.btn.btn-outline-secondary.btn-sm{href: "/players?name=#{player.name}"}
              %i.bi.bi-pencil-square


  = haml :'players/form'
